

{% extends 'admin/header.html' %}
{% block content %}

										


<div class="grids">
					<!-- <div class="progressbar-heading grids-heading">
					
					</div> -->
					<div class="panel panel-widget forms-panel" style="padding:15px; margin:60px; height:700px;">
						<div class="forms">
							<div class="form-grids widget-shadow" data-example-id="basic-forms" > 
								
								<div class="form-body">
									<form action="/addition/" method="post" enctype="multipart/form-data">{% csrf_token %} 
										<div class="form-group" > 
										Name of Book<input type="text" name="name" class="form-control " > 
										</div> 
										<div class="form-group"> 
											<label>Author of Book</label> 
											<input type="text" name="Author" class="form-control"> 
										</div> 
										<div class="form-group"> 
											<label>Published ON</label> 
											<input type="date" name="date" class="form-control"> 
										</div> 

										<div class="form-group"> 
											<label>Edition</label> 
											<input type="text" name="edition" class="form-control"> 
										</div> 
										<div class="form-group"> 
											<label>Num.of Pages</label> 
											<input type="number" name="pages" class="form-control"> 
										</div> 
										<div class="form-group"> 
											<label>Num.of Copies</label> 
											<input type="number" name="copyy" class="form-control"> 
										</div> 
										<div class="form-group"> 
											<label>Book Description</label> 
											<input type="text" name="bookk" class="form-control"> 
										</div> 

										<div class="form-group"> 
											<label>Image</label> 
											<input type="file" name="fil" class="form-control"> 
									
										</div> 

										
										<button type="submit" class="btn btn-default w3ls-button">ADD</button> 
									</form> 
								</div>
							</div>
						</div>
					</div>
				</div>



{% endblock %}