
{% extends 'user/u_header.html' %}
{% block content %}

		<div class="main-grid">
			<div class="agile-grids">	
				<!-- blank-page -->
				
				<div class="banner">
					<h2>
						<a href="/">Home</a>
						<i class="fa fa-angle-right"></i>
						<span></span>
					</h2>
				</div>
				
				<div class="blank">
					<div class="blank-page">
						<p>"Libraries store the energy that fuels the imagination.They open up windows to the world and inspire us to explore and achieve,and contribute ti improving the quality of life."</p>
					</div>
			   </div>
				<!-- //blank-page -->
			</div>
		</div>
		
		<!-- footer -->
{% endblock %}
		